<div style="margin-bottom: 0;" class="control-group combined {$required}">
    <div style="margin-bottom: 0;" class="control-group combined {$required}">
        <label class="control-label screen-left" style="margin-bottom: -1.8%; margin-left: 3%; font-weight: bold;" for="{$fieldName}">{$fieldLabel}</label>
        {if !empty($fieldPublicProfile)}<img src="{$appurl}mvc/view/img/screen.png" title="Fields displayed on campaign site" class="screen-right"/>{/if}
        {if !empty($fieldHelpText)}
        <p class="help-block">{$fieldHelpText}</p>
        {/if}
    <div class="controls">
        <input {$disabled} type="checkbox" name="{$fieldName}" style="display:block" class="combined-checkbox" id="{$fieldName}" data-section="{$fieldSection}" {if $fieldValue == true || $fieldValue == 'true' || $fieldValue == 1 || $fieldValue == 'on'} checked="true" {/if}/>
        <a href="{$fieldPlaceholder}"  class="field combined-textbox">{$fieldPlaceholder}</a>
    </div>
</div>